<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<!-- Commented Out - Unsure why the H2 is not included in the code-->
<!-- <h2 th:text="${title1}">Default Heading</h2>-->

    <nav th:replace="fragments :: navigation"></nav>
    <!-- Unavailable data that was not passed from model.addAttribute
    BKA An IF-NOT negation - If item/element does not exists
    cheeses exist and the size is NOT zero (0) -->
    <p th:unless="${cheeses} and ${cheeses.size()}">Sorry, no cheese! :(</p>

<!-- Commented Out - Unsure why the UL is not included in the code-->
<!--    <ul>-->
<!--        &lt;!&ndash; I want th to repeat the current element with inserted text &ndash;&gt;-->
<!--    <li th:each ="cheese : ${cheeses}" th:text="${cheese}"></li>-->
<!--    </ul>-->

    <table class="table">
        <tr>
            <th>Cheese Name</th>
            <th>Cheese Description</th>
            <th>Type of Cheese</th>
        </tr>

        <tr th:each="cheese : ${cheeses}">
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
            <td th:text="${cheese.type.name}"></td>
        </tr>
    </table>

</body>
</html>

